<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Exception</title>
</head>
<body>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" >
       <form action="/error" method="get">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" th:text="${popup.title}" id="exampleModalLabel"></h3>
            </div>
            <div class="modal-body">
             <h3 th:text="${popup.title}"></h3>
            </div>
       <input type="submit" value="Submit">
            <div class="modal-footer">
                <button type="button" th:text="${popupBtn.btnLeft}" class="btn btn-secondary" data-dismiss="modal">Ok</button>
                <button type="button" th:text="${popupBtn.btnRight}" class="btn btn-primary">Cancel</button>
            </div>
        </div>
       </form>
    </div>
</div>
</body>
</html>